.explanation__heading {
  font-family: $font-heading;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.explanation__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.explanation__description {
  font-size: 14px;
  line-height: 18px;
  color: $color-special_dark-grey;
}
