.partnership__heading {
  font-family: $font-heading;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.partnership__adress {
  font-size: 14px;
  line-height: 20px;
  color: $color-special_dark-grey;
}
