.promo {
  font-family: $font-heading;
  color: $color-white;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  background-image: url("../../img/background/promo-bg.jpg");
  background-color: $color-green;
  background-repeat: repeat;
}

.promo__button {
  text-decoration: none;
  color: $color-white;
}

.promo__slogan {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.promo__subslogan {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
}
